html {
  background: black;
}

img {
  max-width: 100%;
}

body {
  padding: 30px;
}

main {
  width: 300px;
  margin: 0 auto;
}

input,
button {
  padding: 5px;
  margin: 10px 0;
}

input {
  width: 100%;
}

button {
  padding: 5px 30px;
}
.captacha-images {
  background: #fff;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.captacha-images > div {
}
